.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.dices {
  display: grid;
  margin: 3em auto 1em;
  gap: 1em;
  grid-template-columns: repeat(2, 24vh);
  grid-template-rows: repeat(2, 24vh);
}

.roll-dice {
  margin-top: 30px;
  button {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    width: 320px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    background-color: #222222;
    color: #c2111d;
    border: 3px solid #c2111d;
    &:hover {
      background-color: #c2111d;
      color: #ffffff;
      border: 3px solid transparent;
      transition: 0.2s ease-in;
    }
  }
}
// @media screen and (min-width: 992px) {
//   .roll-dice {
//     button {
//       width: 30%;
//     }
//   }
// }
