.mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.mode__switch,
.mode__switch-button {
  transition: all 0.2s ease-in-out;
}

.mode__switch {
  height: 1.5em;
  width: calc(1.5em * 2);
  border: 2px solid #c2111d;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.33);
  border-radius: 1.5em;
  box-shadow: none;
  cursor: pointer;
}

.mode__switch-button {
  height: calc(1.5em - (2 * 2px));
  width: calc(1.5em - (2 * 2px));
  border: 2px solid #fff;
  border-radius: calc(1.5em - (2 * 2px));
  background: #c2111d;
}

.mode__switch--is-easy-mode {
  background-color: #c2111d;
}

.mode__switch--is-easy-mode .mode__switch-button {
  background: white;
  transform: translateX(calc(calc(1.5em - (2 * 2px)) + (2 * 2px)));
}

.mode__label {
  margin-left: 10px;
}
